/* CSS para glider */
.glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}

.glider-track {
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}

.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.glider.draggable img {
  user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-next.disabled, .glider-prev.disabled {
  opacity: 0.25;
  color: #666;
  cursor: default;
}

.glider-hide {
  opacity: 0;
}

.glider-dots {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.glider-dot {
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #a89cc8;
}

/* Ajuste para dispositivos móveis */
@media (max-width: 880px) {
  .glider {
    display: flex;
    justify-content: center;
  }

  .glider-track {
    display: flex;
    justify-content: flex-start; /* Garantir que os itens fiquem alinhados ao início */
    width: 100%; /* Garantir que a pista ocupe a largura total */
    flex-wrap: nowrap; /* Garantir que os itens não se quebrem para a linha seguinte */
  }

  .glider-slide {
    width: 45%; /* Ajuste a largura dos itens para que fiquem lado a lado */
    height: 100px;
    margin-right: 10px;
    flex-shrink: 0; /* Impede que os itens encolham */
    background-color: rgba(84, 83, 83, 0.5);
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    box-shadow: 
      1px 1px 1px rgba(0, 0, 0, 0.1),
      1px 1px 1px rgba(0, 0, 0, 0.7);
    background-size: 100% 45%;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .glider-prev, .glider-next {
    display: none; /* Oculta as setas no celular */
  }

  .glider-slide img {
    width: 30%; /* Tamanho reduzido da imagem principal */
    height: auto;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px; 
  }

  .footer .left-column span {
    font-size: 8px; /* Texto "Oferecido por" em tamanho reduzido */
  }

  .footer .left-column img {
    width: 50%; /* Imagem "Oferecido por" com 50% do tamanho original */
    height: auto;
  }

  .footer .right-column button {
    font-size: 10px; /* Reduz o tamanho do botão */
    padding: 5px 10px;
  }
}

/* Outros estilos */
.glider-slide {
  user-select: none;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 250px;
  width: 100%;
  background-color: rgba(84, 83, 83, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 5px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 
    1px 1px 1px rgba(0, 0, 0, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.7);
  background-size: 100% 45%;
  background-position: top center;
  background-repeat: no-repeat;
}

.glider-prev, .glider-next {
  font-size: 50px;
  background-color: #A56CE0;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
}

.glider-prev {
  left: 10px;
}

.glider-next {
  right: 10px;
}

.glider-prev:hover, .glider-next:hover, .glider-prev:focus, .glider-next:focus {
  background-color: #8F6CB7;
}

.glider-prev img, .glider-next img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
  margin: 0;
}
